/* Imports gerais necessarios do estilo*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset.css */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

    body {
        font-family: "Poppins", sans-serif;
    }

/* Header.css */
    .logo a {
        font-size: 30px;
        font-weight: bold;
        color: black;
    }

    .background-menu {
        background: #ff6600;
    }

    .container-header {
        max-width: 100%; /*1500px alterado para responsividade*/
        padding: 0 2%;
        margin: 0 auto;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .ul-header {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        align-items: center;    
    }

    .ul-header li {
        margin: 0 35px;
        font-size: 15px;
    }

    .ul-header li a{
        color: black;
    }

/*Layouts de estilo*/
/*Container para imagem*/
    .image-container {
        width: 100%;
        overflow: hidden;
    }

    .image-container img {
        width: 100%;
        height: auto;
        max-height: 500px;
        display: block;
        object-fit: cover;
    }

    .trainer img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 15px;
        border: 3px solid #ddd;
    }

/*Sections.css*/
    /*Index.php*/
    .resultados-index {
        background: white; /*cor de fundo container*/
        padding: 40px 0;
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .resultados-index .container {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
    }

    .resultados-index .resultados-index-recursos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }

    .resultados-index .resultados-index-recursos .recurso {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 15px;
        flex: 1;
        margin: 0 50px;
    }

    .resultados-index .resultados-index-recursos .icone {
        margin-top: 15px;
    }

    .resultados-index .resultados-index-recursos img {
        width: 50px;
        height: auto;
        margin-bottom: 10px;
    }

    .resultados-index .resultados-index-recursos p {
        margin: 0;
        font-size: 16px;
        max-width: 300px;
        color: black;
    }

    .titulo {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
        color: black;
    }

    .planos {
        padding: 20px;
        background-color: #f9f9f9;
        min-height: 600px
    }

    .container-planos {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }

    .plano-conteudo {
        display: none; /* Inicialmente oculto */
    }

    .plano {
        margin-bottom: 20px;
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .plano h3 {
        margin-top: 0;
    }

    .plano ul {
        list-style-type: disc;
        margin: 0;
        padding-left: 20px;
    }

    .plano-conteudo h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .plano-conteudo p {
        text-align: center;
        margin-bottom: 20px;
    }


    .opcoes {
        width: 30%; /* Tamanho da coluna da esquerda */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .opcoes .tablink {
        padding: 20px;
        background-color: #f2f2f2;
        border: none;
        text-align: left;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;
    }

    .opcoes .tablink:hover {
        background-color: #ddd;
    }

    .opcoes .tablink.active {
        background-color: #ff6600;
        color: white;
    }

    .conteudo-planos {
        width: 65%; /* Tamanho da coluna da direita */
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .planos-opcao {
        margin: 20px 0;
        font-size: 24px;
        cursor: pointer;
        color: #333;
        transition: color 0.3s ease;
    }

    .plano-conteudo {
        display: none;
        animation: fadeIn 0.5s ease;
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    /* Estilos para os planos da tela inicial*/
    .plano-conteudo h2 {
        color: #ff6600;
    }

    .plano-conteudo ul {
        list-style: none;
        padding: 0;
    }

    .plano-conteudo ul li {
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;
    }

    .plano-conteudo ul li::before {
        content: '✔'; /* Símbolo antes de cada item */
        color: #ff6600;
        position: absolute;
        left: 0;
    }

    .container-planos {
        display: flex;
        align-items: flex-start; /* Alinha as colunas no topo */
    }

    .opcoes {
        flex: 1;
        padding: 20px;
    }

    .conteudo-planos {
        flex: 2;
        padding: 20px;
    }

    .plano {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9; /* Cor de fundo para os planos */
        position: relative; /* Adiciona contexto para o posicionamento absoluto dos preços */
    }

    .plano h3 {
        margin-top: 0;
    }

    .preco {
        color: #FA5858; /* Cor vermelha para os preços */
        font-size: 24px;
        font-weight: bold;
        position: absolute; /* Posiciona o preço relativamente à caixa do plano */
        right: 10px; /* Alinha o preço à direita com uma margem */
        top: 50%; /* Alinha o preço verticalmente no meio */
        transform: translateY(-50%); /* Corrige o alinhamento vertical para o centro */
    }
    /* Final dos estilos para os planos*/

    .trainers-section {
        background-color: #fff;
        padding: 50px 20px;
        text-align: center;
    }

    .trainers-section h2 {
        font-size: 2em;
        margin-bottom: 70px;
    }

    .trainers-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
    }

    .trainer {
        width: 200px;
        text-align: center;
    }

    .trainer h3 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .trainer p {
        font-size: 1em;
        color: #666;
    }

    .imc-section {
        display: flex;
        justify-content: center;
        padding: 50px;
        background-color:#f9f9f9;
    }

    .imc-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
    }

    .imc {
        width: 40%;
        padding: 20px;
        text-align: center;
    }

    .imc h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .imc-calculator {
        width: 50%;
        padding: 20px;
        background-color: #ff6600;
        color: black;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
    }

    .imc-calculator h2 {
        font-size: 22px;
        margin-bottom: 15px;
        text-align: center;
    }

    .imc-calculator label {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
    }

    .imc-calculator input {
        width: calc(100% - 22px);
        max-width: 300px;
        padding: 10px;
        margin: 0 auto 15px auto;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        display: block;
    }

    .imc-calculator button {
        width: auto;
        padding: 10px 20px;
        background-color: #ffffff;
        color: black;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin: 0 auto;
        display: block;
    }

    .imc-calculator button:hover {
        background-color: #ffd699;
    }

    .resultado-imc {
        margin-top: 20px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }
    /*Final estilos Index.php*/
    /*Quem somos TODO:active CORRIGIR CONFLITOS*/
    .sobre-nos {
        padding: 20px;
        background-color: white;
        margin-top: 50px;
    }
    
    .sobre-nos .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .sobre-nos h1 {
        font-size: 1.0em;
        margin-bottom: 20px;
        color: black;
    }
    
    .sobre-nos p {
        font-size: 1.0rem;
        line-height: 1.6;
        margin-bottom: 20px;
        color: black;
    }
    
    .sobre-nos h2 {
        font-size: 1.0em;
        margin-bottom: 15px;
        color: #333;
    }
    
    .sobre-nos ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .sobre-nos ul li {
        font-size: 1.0em;
        margin-bottom: 7px;
        color: black;
    }
    
    .sobre-nos ul li strong {
        color: #ff6600;
    }

    .resultados-quem-somos {
        background: #ff6600; /*cor de fundo container*/
        padding: 10px 0;
    }
    
    .resultados-quem-somos .container { /*trocar, padding?*/ 
        max-width: 1500px;
        padding: 0 2%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .resultados-quem-somos .resultados-quem-somos-recursos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        color: white;
    }
    
    .resultados-quem-somos .resultados-quem-somos-recursos .recurso {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 15px;
    }
    
    .resultados-quem-somos .resultados-quem-somos-recursos .icone {
        margin-top: 45px;
    }
    
    .resultados-quem-somos .resultados-quem-somos-recursos img {
        width: 50px;
        height: auto;
    }
    
    .resultados-quem-somos .resultados-quem-somos-recursos p {
        margin: 0;
        font-size: 18px;
        max-width: 300px;
        color: black;
    }

    
    .cadastro-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        width: 100%;
    }

    .cadastro-btn .btn {
        background-color: white;
        color:  #ff6600;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        border-radius: 25px;
        border: #ffffff solid 1px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .cadastro-btn .btn:hover{
        background-color: #ffffff;
        color: #000000;
        border: gray solid 1px;

    }
  
    .links {
        padding: 40px 20px;
        background-color: white;
        margin-top: 5px;
    }

    .links .link {
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }

    .links h2 {
        font-size: 2.0em;
        margin-bottom: 20px;
        color: black;
    }

    .links p {
        font-size: 1.0em;
        margin-bottom: 20px;
        color: black;
    }

    .social-links {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .social-links li {
        font-size: 1.1em;
    }

    .social-links a {
        text-decoration: none;
        color: #58ACFA;
    }

    .social-links a:hover {
        text-decoration: underline; /* Sublinha o link ao passar o mouse */
    }

    .btn-contato {
        display: inline-block;
        margin-top: 20px;
        background-color: #ff6600;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 18px;
        border-radius: 25px;
        border: #ff6600 solid 1px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }
    
    .btn-contato:hover {
        background-color: #ff6600;
        color: #000000;
        border: gray solid 1px;
    }

/*Final estilos Quem somos*/
/*Contato.php*/
    .contato {
        padding: 60px 0;
        background-color: #fff;
    }

    .contato .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contato-texto {
        text-align: center;
        margin-bottom: 40px;
    }

    .contato-texto h2 {
        color: black;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .contato-texto p {
        font-size: 15px;
        color: #555;
    }


    .formulario-contato {
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        max-width: 600px;
        width: 100%;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: 600;
        margin-bottom: 8px;
        color: #333;
    }

    .form-group input, 
    .form-group select, 
    .form-group textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }

    .form-group input[type="radio"] {
        display: inline-block;
        width: auto;
        margin-right: 10px;
    }

    .form-group textarea {
        height: 120px;
        resize: none;
    }

    .btn-enviar-contato {
        background-color: #ff6600;
        color: white;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 100%;
        text-align: center;
    }

    .btn-enviar-contato:hover {
        background-color: #58ACFA;
    }

/*Final estilos Quem somos*/
/*Login ou Cadastro .php*/

    .container-co {
        background-color: #ecf0f1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .content {
        background-color: #fff;
        border-radius: 15px;
        width: 960px;
        height: 80%;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .content::before {
        content: "";
        position: absolute;
        background: #ff6600;
        background: linear-gradient(90deg, #ff6600 0%, #ff6600 100%);
        width: 40%;
        height: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .first-content {
        display: flex;
    }

    .title {
        font-size: 28px;
        font-weight: bold;
    }

    .title-primary {
        color: #fff;
    }

    .title-second {
        color: black;
    }

    .social-midia {
        margin: 1rem 0;
    }

    .link-social-midia:not(:first-child) {
        margin-left: 10px;
    }


    .link-social-midia .item-social-midia {
        transition: background-color .5s;
    }

    .link-social-midia:hover .item-social-midia {
        background-color: #ff6600;
        color: #fff;
        border-color: #ff6600;
    }

    .list-social-midia {
        display: flex;
        list-style: none;
    }

    .item-social-midia {
        border:1px solid #ff6600;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        color: #a281b6e0;
    }

    .description {

        font: 15px;
        font-weight: 300px;
        color: #fff;
        line-height: 30px; /*altura entre linhas */
    }

    .description-primary {
        color: #fff;
    }

    .description-second {
        color: #7f8c8d;
    }

    .btn-login-cadastro {
        border-radius: 15px;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        width: 150px;
        align-self: center;
        border: none;
        margin-top: 1rem;
    }
    
    .btn-primary {
        background-color: transparent;
        font-size: 10px;
        padding: 10px;
        border: 1px solid #fff;
        transition: background-color .5s;
    }
    
    .btn-primary:hover {
        background-color: #fff;
        color: #58ACFA;
    }
    
    .btn-second {
        background-color: #ff6600;
        border: 1px solid #ff6600;
        padding: 7px 0px;
        transition: background-color 0.5s;
    }

    .btn-second a{
        text-decoration: none;
        color: inherit;
    }
    
    .btn-second:hover {
        background-color: #fff;
        border: 1px solid #ff6600;
        color: #58ACFA;
    }

    .first-column {
        text-align: center;
        width: 40%;
        z-index: 10; /* sobrepõe o conteudo | precisa de position relative e position absolute para funcionar */
    }
    
    .first-content .second-column {
        z-index: 11;
    }
    
    .second-column {
        width: 60%; /* 40% first-column + 60% second-column = totalizando 100% */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .list-social-midia {
        display: flex;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        width: 55%;
    }
    
    .form input {
        width: 100%;
        height: 45px;
        border: none;
        background-color: #ecf0f1;
    }
    
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
        -webkit-text-fill-color: #000 !important;
    }
    
    .label-input {
        display: flex;
        align-items: center;
        margin: 8px;
        background-color: #ecf0f1;
    }
    
    .icon-modify {
        color: #7f8c8d;
        padding: 0px 5px;
    }
    
    /* SECOND-CONTENT */
    .second-content {
        position: absolute;
        display: flex;
    }
    
    .second-content .first-column {
        order: 2;
        z-index: -1;
    }
    
    .second-content .second-column {
        order: 1;
        z-index: -1;
    }
    
    .password {
        color: #34495e;
        font-size: 14px;
        margin: 15px 0;
        text-align: center;
        text-decoration: none;
    }
    
    .password::first-letter {
        text-transform: capitalize; /* deixar somente primeira letra maíuscula */
    }
    
    .password:hover {
        text-decoration: underline;
    }
    
    /* classes que são adiciondas com o JS no body para alterar os Z-index deixando apenas um conteudo visível,ou seja,quando o primeiro conteudo aparece o segundo conteudo fica invisivel, e quando o segundo conteudo aparece o primeiro conteudo fica invisivel. */
    /* quando haver um evento de click em sign in --> o primeiro conteudo aparece e oculta o segundo atravéz do z-index */
    
    .sign-in-js .first-content .first-column { /* <-- primeiro conteudo | coluna 1*/
        z-index: -1;
    }       
    
    .sign-in-js .second-content .first-column { /* <-- segundo conteudo | coluna 1*/
        z-index: 13;
    }
    
    .sign-in-js .second-content .second-column { /* <-- segundo conteudo | coluna 2*/
        z-index: 11;
    }
    
    /* levar ::before para o lado direito */
    .sign-in-js .content::before {
        left: 60%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        animation: sliden 1.3s;
        z-index: 12;
    }
    
    .sign-up-js .content::before {
        animation: slideout 1.3s;
        z-index: 12;
    }
    
    /* quando haver um evento de click em sign up --> o segundo conteudo aparece e oculta o primeiro atravéz do z-index */
    
    .sign-up-js .first-content .first-column {      /* <-- primeiro conteudo | coluna 1*/
        z-index: 13;
    }
    
    .sign-up-js .second-content .first-column {     /* <-- segundo conteudo | coluna 1*/
        z-index: -1;
    }  
    
    .sign-up-js .first-content .second-column {     /* <-- primeiro conteudo | coluna 2*/
        z-index: 11;
    }
    
    /* DESLOCAMENTO DO CONTEÚDO ATRÁS DO CONTENT:BEFORE */
    .sign-in-js .first-content .second-column { /* <-- primeiro conteudo | coluna 2*/
        z-index: -1;
        
        position: relative;
        animation: deslocamentoEsquerda 1.3s;
    } 
    
    .sign-up-js .second-content .second-column {    /* <-- segundo conteudo | coluna 2*/
        position: relative;
        z-index: -1;
        animation: deslocamentoDireita 1.3s;
    }
    
    /* ANIMAÇÃO CSS PARA CONTEUDO */
    @keyframes deslocamentoEsquerda {
        from{
            left: 0;
            z-index: 12;
        }
        25%{
            left: -80px;
        }
        50%{
            left: -100px;
        }
        to{
            left: -110px;
            z-index: -1;
        }
    }
    
    @keyframes deslocamentoDireita {
        from{
            left: 0;
            z-index: 12;
        }
        25%{
            left: 80px;
        }
        50%{
            left: 100px;
        }
        to{
            left: 110px;
            z-index: -1;
        }
    }
    
    /* ANIMAÇÕES */
    @keyframes sliden {
        from{
            left: 0%;
            width: 40%;
        }
        25%{
            left: 5%;
            width: 50%;
        }
        50%{
            left: 25%;
            width: 60%;
        }
        75%{
            left: 45%;
            width: 50%;
        }
        to{
            left: 60%;
            width: 40%;
        }
    }
    
    @keyframes slideout {
        from{
            left: 60%;
            width: 40%;
        }
        25%{
            left: 45%;
            width: 50%;
        }
        50%{
            left: 25%;
            width: 60%;
        }
        75%{
            left: 5%;
            width: 50%;
        }
        to{
            left: 0;
            width: 40%;
        }
    }
/*Login ou Cadastro .php*/
/* Cadastro básico para usuário*/
.form-usuario-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-usuario-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex-basis: 48%;
}

.full-width {
    flex-basis: 100%;
}

.form-usuario-container label {
    display: block;
    margin-bottom: 5px;
}

.form-usuario-container input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-usuario-container input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.form-usuario-container textarea {
    resize: vertical;
}

.form-usuario-container button {
    display: block; 
    width: 150px; 
    height: 40px; 
    color: #fff; 
    border: none; 
    border-radius: 20px; 
    font-size: 16px; 
    cursor: pointer; 
    margin: 20px auto; 
    text-align: center; 
}


.form-usuario-container button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* final cadastro básico para usuário*/
/*Cadastro para aluno e treinador*/

    .form-container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .form-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .form-group {
        flex-basis: 48%;
    }

    .full-width {
        flex-basis: 100%;
    }

    .form-container label {
        display: block;
        margin-bottom: 5px;
    }

    .form-container input, select, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    .form-container input[type="file"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: #f9f9f9;
    }

    .form-container textarea {
        resize: vertical;
    }

    #lesao-descricao {
        margin-top: 10px;
    }

    .form-container button {
        display: block; 
        width: 150px; 
        height: 40px; 
        background-color: #ff6600; 
        color: #fff; 
        border: none; 
        border-radius: 20px; 
        font-size: 16px; 
        cursor: pointer; 
        margin: 20px auto; 
        text-align: center; 
    }


    .form-container button:hover {
        background-color: #ff6600;
    }
/*Final do estilo relacionado as telas de cadastro*/
/*Estilos para Perfil-Aluno.php*/
    .conteudo-logado {
        display: flex;
        flex-direction: row;
    }
    
    .abas {
        min-width: 20%;
        max-width: auto;
        background-color: #f0f0f0;
        padding: 20px;
        border-right: 1px solid #ccc;
        height: 100vh;
        margin-bottom: 4px;
    }
    
    .abas ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .abas li {
        margin-bottom: 20px;
    }
    
    .abas a {
        text-decoration: none;
        color: black;
    }
    
    .abas a:hover {
        color: #23527c;
        cursor: pointer;
    }
    
    .abas .active {
        background-color: #cfcfcf;
        padding: 10px;
        border-radius: 4px;
        border: gray solid 0.5px;
    }
    
    .conteudo-abas {
        flex: 1;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .conteudo-abas > div {
        display: none;
        width: 80%;
        margin: 0 auto;
    }
    
    .conteudo-abas > div:target {
        display: block;
    }
/*Final dos estilos para o perfil do aluno*/
/*Footer*/

footer {
    background-color: #ff6600;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

footer p {
    margin: 0;
    font-size: 14px;
}

/*Final das Sections.css*/

/*Responsividade*/

/*Header*/
@media only screen and (max-width: 768px) {
    .container-header {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    nav {
        display: flex;
        flex-direction: column; /* Empilha itens */
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }

    .ul-header {
        flex-direction: column; /* Empilha os itens do menu */
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .ul-header li {
        margin: 10px 0; /* Espaçamento entre os itens */
    }

    .ul-header li a {
        font-size: 1.2em; /* Tamanho ajustado do texto para mobile */
        color: black;
    }

    .menu-icon img {
        width: 30px; /* Tamanho do ícone do menu */
    }
}

/*Resultados*/
@media only screen and (max-width: 768px) {
    .resultados-index {
        text-align: center; /* Centraliza o título */
        padding: 20px 0; /* Espaço acima e abaixo */
        display: block;
    }

    .titulo {
        font-size: 1.5em; /* Tamanho do título */
    }

    .resultados-index-recursos {
        display: flex;
        overflow-x: auto; /* Permite rolagem horizontal */
        padding: 10px 0;
        width: 100%; /* Ocupará toda a largura da tela */
        box-sizing: border-box; /* Inclui padding na largura */
    }

    .recurso {
        flex: 0 0 auto; /* Cada recurso ocupará seu espaço sem esticar */
        width: 80%; /* Ajuste para que seja mais gerenciável */
        max-width: 90%; /* Limita a largura máxima para caber bem em telas pequenas */
        margin-right: 10px; /* Espaço entre os recursos */
        box-sizing: border-box; /* Inclui padding e margens na largura */
    }

    .icone img {
        width: 100%; /* Ajusta a imagem ao tamanho do recurso */
        height: auto; /* Mantém a proporção da imagem */
        border-radius: 5px; /* Bordas arredondadas */
    }

    .icone p {
        text-align: center; /* Centraliza o texto da descrição */
        font-size: 1em; /* Ajuste do tamanho da fonte */
    }
}

/*Planos*/
@media only screen and (max-width: 768px) {
    .container-planos {
        display: flex;
        flex-direction: column; /* Itens empilhados verticalmente */
        align-items: center;
        width: 100%; /* Ocupará toda a largura */
        box-sizing: border-box; /* Inclui padding na largura */
    }

    .plano {
        width: 100%; /* Cada plano ocupa toda a largura */
        margin-bottom: 20px;
        padding: 10px; /* Adiciona padding para os planos */
        box-sizing: border-box; /* Inclui padding na largura */
    }

    .plano h3 {
        font-size: 1.2em;
        text-align: center;
    }

    .preco {
        font-size: 1.5em;
        text-align: center;
    }
}

