/* Imports gerais necessarios do estilo*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Header.css */
.logo a {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.background-menu {
    background: #ff6600;
}

.container-header {
    max-width: 100%; /*1500px alterado para responsividade*/
    padding: 0 2%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.ul-header {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;    
}

.ul-header li {
    margin: 0 35px;
    font-size: 15px;
}

.ul-header li a{
    color: black;
}

/*Layouts de estilo*/
.image-container {
    width: 100%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
    max-height: 500px;
    display: block;
    object-fit: cover;
}

.trainer img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #ddd;
}

/* Sections.css */
.resultados {
    background: white; /*cor de fundo container*/
    padding: 40px 0;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.resultados .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.resultados .resultados-recursos {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.resultados .resultados-recursos .recurso {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 15px;
    flex: 1;
    margin: 0 50px;
}

.resultados .resultados-recursos .icone {
    margin-top: 15px;
}

.resultados .resultados-recursos img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.resultados .resultados-recursos p {
    margin: 0;
    font-size: 16px;
    max-width: 300px;
    color: black;
}

.titulo {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.planos {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 600px
}

.container-planos {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.plano-conteudo {
    display: none; /* Inicialmente oculto */
}

.plano {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.plano h3 {
    margin-top: 0;
}

.plano ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

.plano-conteudo h2 {
    text-align: center;
    margin-bottom: 20px;
}

.plano-conteudo p {
    text-align: center;
    margin-bottom: 20px;
}


.opcoes {
    width: 30%; /* Tamanho da coluna da esquerda */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opcoes .tablink {
    padding: 20px;
    background-color: #f2f2f2;
    border: none;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.opcoes .tablink:hover {
    background-color: #ddd;
}

.opcoes .tablink.active {
    background-color: #ff6600;
    color: white;
}

.conteudo-planos {
    width: 65%; /* Tamanho da coluna da direita */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.planos-opcao {
    margin: 20px 0;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.plano-conteudo {
    display: none;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Estilos para os planos da tela inicial*/
.plano-conteudo h2 {
    color: #ff6600;
}

.plano-conteudo ul {
    list-style: none;
    padding: 0;
}

.plano-conteudo ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.plano-conteudo ul li::before {
    content: '✔'; /* Símbolo antes de cada item */
    color: #ff6600;
    position: absolute;
    left: 0;
}

.container-planos {
    display: flex;
    align-items: flex-start; /* Alinha as colunas no topo */
}

.opcoes {
    flex: 1;
    padding: 20px;
}

.conteudo-planos {
    flex: 2;
    padding: 20px;
}

.plano {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9; /* Cor de fundo para os planos */
    position: relative; /* Adiciona contexto para o posicionamento absoluto dos preços */
}

.plano h3 {
    margin-top: 0;
}

.preco {
    color: #FA5858; /* Cor vermelha para os preços */
    font-size: 24px;
    font-weight: bold;
    position: absolute; /* Posiciona o preço relativamente à caixa do plano */
    right: 10px; /* Alinha o preço à direita com uma margem */
    top: 50%; /* Alinha o preço verticalmente no meio */
    transform: translateY(-50%); /* Corrige o alinhamento vertical para o centro */
}
/* Final dos estilos para os planos*/

.trainers-section {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.trainers-section h2 {
    font-size: 2em;
    margin-bottom: 70px;
}

.trainers-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.trainer {
    width: 200px;
    text-align: center;
}

.trainer h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.trainer p {
    font-size: 1em;
    color: #666;
}

.imc-section {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color:#f9f9f9;
}

.imc-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.imc {
    width: 40%;
    padding: 20px;
    text-align: center;
}

.imc h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.imc-calculator {
    width: 50%;
    padding: 20px;
    background-color: #ff6600;
    color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.imc-calculator h2 {
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}

.imc-calculator label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.imc-calculator input {
    width: calc(100% - 22px);
    max-width: 300px;
    padding: 10px;
    margin: 0 auto 15px auto;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    display: block;
}

.imc-calculator button {
    width: auto;
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
    display: block;
}

.imc-calculator button:hover {
    background-color: #ffd699;
}

.resultado-imc {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/*Footer*/

footer {
    background-color: #ff6600;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

footer p {
    margin: 0;
    font-size: 14px;
}